@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Playfair";
    src: url("../fonts/PlayfairDisplay-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Playfair", Georgia, serif;
    font-size: 2em;
}

p {
    font-family: "Lato", Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

body {
    /* position: relative; */
}

nav {
    position: fixed;
}

/* CHECKING OUT */
#home-content {
    height: 600px;
    width: 100vw;
    border: 3px black solid;
    background-color: yellow;
}
#work {
    height: 600px;
    width: 100vw;
    border: 3px black solid;
    background-color: aquamarine;
}

#about {
    height: 600px;
    width: 100vw;
    border: 3px black solid;
    background-color: blue;
}
/* checking out */

.main_grid {
    /* grid-area: main_grid;
    display: grid;
    grid-template-areas: "gr gr . img img img img .";
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 0;
    margin: 0; */
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 680px) {
    .main_grid {
        /* grid-area: main_grid;
        display: grid;
        grid-template-areas:
            "img img img img"
            "gr gr gr gr"
            "pom pom pom pom";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.2fr;
        grid-column-gap: 0px;
        grid-row-gap: 0;
        margin: 0; */
    }

    #pom {
        grid-area: pom;
        background-color: #ffb561;
        z-index: -1;
    }

    p {
        font-family: "Lato", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
    }

    br {
        display: none;
    }
}
