#hero-container-for-blur {
    /* backdrop-filter: blur(120px); */
    /* background-color: yellow; */
    height: 95vh;
    width: 100vw;
    z-index: -4;
}

#hero-text {
    position: absolute;
    top: 27%;
    left: 15%;
    width: 630px;
    /* position: absolute;
    top: 27%;
    left: 15%;
    width: 730px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px; */
}

.p-hero {
    font-size: 1.3rem !important;
    line-height: 2rem !important;
    margin-top: -5px;
}

#heroButton {
    z-index: 1;
    position: relative;
    font-size: 1rem;
    font-family: inherit;
    color: white;
    padding: 0.9em 1em 1em 1em;
    outline: none;
    overflow: hidden;
    transition: color 0.2s ease-in-out;
    border: none;
    background-color: #dd8051;
    border-radius: 0px;
    box-shadow: 0px 2px 5px 0px #e7a381;
    margin-top: 30px;
    cursor: pointer;
}

#heroButton:hover {
    background-color: #e47137;
}

#hero-profile {
    position: absolute;
    top: 24vh;
    left: 20vw;
    width: 25vw;
    height: auto;
}

#scrollDown {
    position: relative;
    top: -130px;
    text-align-last: center;

    animation: rotate 10s linear infinite;
    transform-box: fill-box;
    transform-origin: 50% 50%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#arrowDown {
    position: relative;
    top: -190px;
    text-align-last: center;
    transform-box: fill-box;
    transform-origin: 50% 50%;
}

.shape1 {
    position: absolute;
    top: 75%;
    left: 0;
    width: 20%;
    height: 20%;
    background: linear-gradient(#ffe17d, #b34c19);
    /* clip-path: circle(50% at 50% 50%); */
    /* clip-path: polygon(0% 0%, 50% 50%, 50% 50%, 0% 50%); */
    z-index: -6;
    filter: blur(150px);
}

.shape2 {
    position: absolute;
    top: 0vh;
    left: 80vw;
    width: 20%;
    height: 40%;
    background: linear-gradient(#ffffff, #ffcf49);
    /* clip-path: circle(29% at 50% 50%); */
    z-index: -6;
    filter: blur(150px);
}

.shape3 {
    position: absolute;
    top: 65vh;
    left: 69vw;
    width: 30%;
    height: 30%;
    background: linear-gradient(#fee9ca, #ffdbdb);
    /* clip-path: circle(29% at 50% 50%); */
    z-index: -6;
    filter: blur(150px);
}

.shape4 {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 20%;
    height: 20%;
    background: linear-gradient(#fff9f0, #fdecd1);
    /* clip-path: circle(29% at 50% 50%); */
    z-index: -6;
    filter: blur(150px);
}

.shape5 {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 30%;
    height: 20%;
    background: linear-gradient(#ffecaf, #ffe17d, #d87340);
    /* clip-path: circle(50% at 50% 50%); */
    /* clip-path: polygon(0% 0%, 50% 50%, 50% 50%, 0% 50%); */
    z-index: -6;
    filter: blur(150px);
}

/* .square {
    position: absolute;
    top: 20vh;
    left: 30vw;
    width: 200px;
    height: 100px;
    border: 2px solid green;
    backdrop-filter: blur(15px);
} */
